.elementor-8506 .elementor-element.elementor-element-451c0b2 .elementor-heading-title{color:#0063A7;font-size:26px;font-weight:600;}.elementor-8506 .elementor-element.elementor-element-1053c38{--divider-border-style:solid;--divider-color:#E0E0E0;--divider-border-width:1px;}.elementor-8506 .elementor-element.elementor-element-1053c38 .elementor-divider-separator{width:100%;}.elementor-8506 .elementor-element.elementor-element-1053c38 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-8506 .elementor-element.elementor-element-4fdbc5c > .elementor-element-populated{padding:20px 015px 0px 0px;}.elementor-8506 .elementor-element.elementor-element-0fe2035 .elementor-heading-title{color:#069844;font-family:"Arial", Sans-serif;font-size:20px;}.elementor-8506 .elementor-element.elementor-element-bf6a253{color:#313131;font-family:"Open Sans", Sans-serif;font-size:16px;line-height:2.1em;letter-spacing:0.2px;}body .mec-wrap .mec-totalcal-box i{font-size:17px;color:#FFFFFF !important;background:#0064A7 !important;}body .mec-wrap .mec-totalcal-box .mec-totalcal-view span,
					 body .mec-wrap .mec-totalcal-box input,
					 body .mec-wrap .mec-totalcal-box select{font-family:"Arial", Sans-serif;}body .mec-wrap .mec-totalcal-box .mec-totalcal-view span
,
						 body .mec-wrap .mec-totalcal-box input,
						 body .mec-wrap .mec-totalcal-box select{color:#777 !important;}body .mec-wrap .mec-totalcal-box .mec-totalcal-view span,
						 body .mec-wrap .mec-totalcal-box input,
						 body .mec-wrap .mec-totalcal-box select{background:#fff !important;}body .mec-wrap .mec-totalcal-box .mec-totalcal-view span
,
					 body .mec-wrap .mec-totalcal-box input,
					 body .mec-wrap .mec-totalcal-box select,
					 body .mec-wrap .mec-totalcal-box i{border-style:solid;border-color:#EAE7E7;}body .mec-wrap .mec-totalcal-box{background:#fff !important;}body .mec-wrap .mec-event-list-classic .mec-event-title a,
						 body .mec-agenda-event-title a,
						 body .mec-event-list-modern .mec-event-title a,
						 body .mec-event-list-standard .mec-event-title,
						 body .mec-event-list-minimal .mec-event-title a,
						 body .mec-events-toggle .mec-toogle-inner-month-divider .mec-toggle-title,
						 body .mec-event-grid-classic .mec-event-title a,
						 body .mec-event-grid-clean .mec-event-title a,
						 body .mec-event-grid-minimal .mec-event-title a,
						 body .mec-event-grid-modern .mec-event-title a,
						 body .mec-event-grid-simple .mec-event-title a,
						 body .mec-event-grid-modern .mec-event-title a,
						 body .mec-event-grid-novel .mec-event-content h4 a,
						 body .mec-yearly-view-wrap .mec-agenda-event-title a,
						 body .mec-calendar-events-sec .mec-event-article .mec-event-title a,
						 body .mec-calendar .mec-event-article.mec-single-event-novel h4,
						 body .mec-event-container-simple .mec-monthly-tooltip h4,
						 body .mec-timetable-t2-content .mec-event-title a,
						 body .mec-timetable-event .mec-timetable-event-title a,
						 body .mec-event-cover-clean .mec-event-title a,
						 body .mec-event-cover-modern .mec-event-detail .mec-event-title,
						 body .mec-event-cover-classic .mec-event-content .mec-event-title,
						 body .mec-wrap .mec-event-countdown-style1 .mec-event-countdown-part1 .mec-event-upcoming,
						 body .mec-wrap .mec-event-countdown-style2 .mec-event-countdown-part1 .mec-event-upcoming,
						 body .mec-wrap .mec-event-countdown-style3 .mec-event-countdown-part1 .mec-event-upcoming,
						 body .mec-event-carousel-type1 .mec-event-carousel-title a,
						 body .mec-event-carousel-type2 .mec-event-carousel-title a,
						 body .mec-event-carousel-type3 .mec-event-carousel-title a,
						 body .mec-calendar-daily .mec-event-title a,
						  body .mec-calendar-weekly .mec-event-title a,
						 body .mec-event-countdown-style2 .mec-event-title,
						 body .mec-event-countdown-style1 .mec-event-title,
						 body .mec-event-countdown-style3 .mec-event-title,
						 body .mec-event-tile-view article.mec-tile-item .mec-event-title a,
						 body .mec-timeline-main-content h4 a,
						 body .mec-event-tile-view article.mec-tile-item .mec-event-title a,
						 body .mec-marker-infowindow-wp .mec-marker-infowindow-content span:first-child{font-size:22px;font-weight:300;}body .mec-wrap .mec-event-date,
						 body .mec-agenda-date,
						 body .mec-wrap .mec-event-date,
						 body .mec-toogle-inner-month-divider .mec-toggle-item-col,
						 body .mec-agenda-date-wrap,
						 body .mec-date-details,
						 body .mec-calendar-weekly .mec-event-list-weekly-date,
						 body .event-carousel-type1-head .mec-event-date-carousel,
						 body .mec-wrap .mec-start-date-label,
						 body .mec-masonry-item-wrap .mec-event-grid-modern .event-grid-modern-head,
						 body .mec-event-grid-classic .mec-event-date,
						 body .mec-event-grid-novel .mec-event-month,
						 body .mec-event-grid-colorful .event-grid-modern-head .mec-event-month,
						 body .mec-events-agenda-wrap .mec-agenda-date,
						 body .mec-event-grid-clean .event-grid-t2-head,
						 body .mec-event-grid-minimal .mec-event-date,
						 body .mec-event-grid-modern .event-grid-modern-head .mec-event-month span,
						 body .mec-event-grid-simple .mec-event-date,
						 body .mec-calendar .mec-calendar-header h2,
						 body .mec-calendar.mec-calendar-daily .mec-calendar-a-month h4,
						 body .mec-event-cover-classic .mec-event-date,
						 body .mec-event-cover-clean .mec-event-date,
						 body .mec-event-cover-modern .mec-event-date,
						 body .mec-event-countdown-style3 .mec-event-date,
						 body .mec-event-countdown-style2 .mec-event-date,
						 body .mec-event-countdown-style1 .mec-event-date,
						 body .event-carousel-type1-head .mec-event-date-carousel,
						 body .event-carousel-type2-head .mec-event-date-info,
						 body .mec-event-footer-carousel-type3 .mec-event-date-info,
						 body .mec-slider-t5 .mec-event-grid-modern .mec-event-month,
						 body .mec-slider-t4 .mec-event-grid-modern .mec-event-month,
						 body .mec-slider-t3 .mec-event-grid-modern .mec-event-month,
						 body .mec-slider-t2 .mec-event-grid-modern .mec-event-month,
						 body .mec-slider-t1 .mec-event-grid-modern .mec-event-month,
						 body  .mec-skin-timeline-container .mec-timeline-event-date,
						 body .mec-marker-infowindow-wp .mec-marker-infowindow-count{text-align:left;}@media(max-width:1024px) and (min-width:768px){.elementor-8506 .elementor-element.elementor-element-4fdbc5c{width:100%;}.elementor-8506 .elementor-element.elementor-element-b370b37{width:100%;}}@media(max-width:767px){.elementor-8506 .elementor-element.elementor-element-451c0b2 .elementor-heading-title{font-size:27px;}.elementor-8506 .elementor-element.elementor-element-bf6a253{font-size:12px;}}