body .mec-wrap .mec-totalcal-box i{font-size:15px;color:#777 !important;}body .mec-wrap .mec-totalcal-box .mec-totalcal-view span
,
						 body .mec-wrap .mec-totalcal-box input,
						 body .mec-wrap .mec-totalcal-box select{color:#777 !important;}body .mec-wrap .mec-totalcal-box .mec-totalcal-view span,
						 body .mec-wrap .mec-totalcal-box input,
						 body .mec-wrap .mec-totalcal-box select{background:#fff !important;}body .mec-wrap .mec-totalcal-box{background:#fff !important;}body .mec-wrap .mec-event-date,
						 body .mec-agenda-date,
						 body .mec-wrap .mec-event-date,
						 body .mec-toogle-inner-month-divider .mec-toggle-item-col,
						 body .mec-agenda-date-wrap,
						 body .mec-date-details,
						 body .mec-calendar-weekly .mec-event-list-weekly-date,
						 body .event-carousel-type1-head .mec-event-date-carousel,
						 body .mec-wrap .mec-start-date-label,
						 body .mec-masonry-item-wrap .mec-event-grid-modern .event-grid-modern-head,
						 body .mec-event-grid-classic .mec-event-date,
						 body .mec-event-grid-novel .mec-event-month,
						 body .mec-event-grid-colorful .event-grid-modern-head .mec-event-month,
						 body .mec-events-agenda-wrap .mec-agenda-date,
						 body .mec-event-grid-clean .event-grid-t2-head,
						 body .mec-event-grid-minimal .mec-event-date,
						 body .mec-event-grid-modern .event-grid-modern-head .mec-event-month span,
						 body .mec-event-grid-simple .mec-event-date,
						 body .mec-calendar .mec-calendar-header h2,
						 body .mec-calendar.mec-calendar-daily .mec-calendar-a-month h4,
						 body .mec-event-cover-classic .mec-event-date,
						 body .mec-event-cover-clean .mec-event-date,
						 body .mec-event-cover-modern .mec-event-date,
						 body .mec-event-countdown-style3 .mec-event-date,
						 body .mec-event-countdown-style2 .mec-event-date,
						 body .mec-event-countdown-style1 .mec-event-date,
						 body .event-carousel-type1-head .mec-event-date-carousel,
						 body .event-carousel-type2-head .mec-event-date-info,
						 body .mec-event-footer-carousel-type3 .mec-event-date-info,
						 body .mec-slider-t5 .mec-event-grid-modern .mec-event-month,
						 body .mec-slider-t4 .mec-event-grid-modern .mec-event-month,
						 body .mec-slider-t3 .mec-event-grid-modern .mec-event-month,
						 body .mec-slider-t2 .mec-event-grid-modern .mec-event-month,
						 body .mec-slider-t1 .mec-event-grid-modern .mec-event-month,
						 body  .mec-skin-timeline-container .mec-timeline-event-date,
						 body .mec-marker-infowindow-wp .mec-marker-infowindow-count{text-align:left;}